backend/llm-feedback-loop/
backend/src/migrations/__pycache__/
backend/src/migrations/alembic.ini
backend/src/migrations/versions/__pycache__
backend/src/__pycache__

# frontend
frontend/node_modules
frontend/.next/
frontend/out/
frontend/build
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*
frontend/*.tsbuildinfo
frontend/next-env.d.ts
frontend/yarn.lock

.env